body {
    background-color: #f5deb3;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.logo {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

main {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

button {
    padding: 12px 24px;
    font-size: 20px;
    margin: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#folder-container {
    text-align: center;
    display: flex;
    align-items: center;
}

#folder-icon {
    display: none;
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

#create-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

#folder-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#save-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#save-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.footer-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    animation: slide-up 1s ease-in-out;
}
