<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="servizio.css">
    <link rel="stylesheet" type="text/css" href="../nav_footer.css">

    
    <title>Servizio</title>
</head>

<body>
    <header class="navbar">
        <div class="navbar-logo">
            <a href="../../index.php">
                <img src="../../immagini/img_sito/logo_progetto.png" alt="Logo">
            </a>
        </div>
        <div class="navbar-links">
            <ul>
                <li><a href="#">SERVIZIO</a></li>
                <li><a href="../chi_siamo/chi_siamo.html">CHI SIAMO</a></li>
            </ul>
        </div>
        <div class="navbar-user" style="visibility: hidden">
            <div class="dropdown">
                <button class="dropdown-btn"><img src="../../immagini/img_sito/user_icon.png"
                        alt="User Icon"></button>
                <div class="dropdown-wrapper">
                    <div class="dropdown-content">
                        <a href="#">Profilo</a>
                        <a href="../../controller/log-out.php">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <h1>FUNZIONAMENTE DEL SERVIZIO</h1>

    <div class="card-container">
        <div class="card">
            <div class="card-count-container">
                <div class="card-count">1</div>
            </div>

            <div class="card-content">
                <h2>Pubblica un annuncio</h2>
                Pubblicare il tuo annuncio sul sito è semplicissimo, inserisci i dati anagrafici e del prodotto ed il
                gioco e fatto!
            </div>

            <div class="card-footer">
            </div>
        </div>

        <div class="card">
            <div class="card-count-container">
                <div class="card-count">2</div>
            </div>
            <div class="card-content">
                <h2>Ricevi un offerta</h2>
                Una volta compilato il modulo con i tuoi dati, il post sarà subito visibile alle nostre compagnie, se
                saranno interessate ti proporranno un prezzo per il tuo prodotto.
            </div>

            <div class="card-footer">
            </div>
        </div>

        <div class="card">
            <div class="card-count-container">
                <div class="card-count">3</div>
            </div>
            <div class="card-content">
                <h2>Transazione conclusa</h2>
                Quando si decide di accettare un’offerta da un’azienda si procederà alla fase di pagamento e di
                spedizione del prodotto.
            </div>

            <div class="card-footer">
            </div>
        </div>
    </div>


    <footer>
        <script type="text/javascript">
            copyright = new Date();
            update = copyright.getFullYear();
            document.write("Copyright © 2023-" + update + " - Alineri Alberto - Carena Paolo - De Fano Alessandro - Marziano Matteo - All rights reserved.");
        </script>
    </footer>

</body>

</html>