/* Reset dei margini e dei padding */
* {
  margin: 0;
  padding: 0;
}

/* Stile generale del sito */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #ccc;
}

.hero {
  height: 400px;
  background-image: url("sfondo.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
  animation: fadeInUp 1s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 24px;
}

.content {
  padding: 40px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}
/* Stile dell'icona "clear" */
.search .clear-icon {
  position: absolute;
  right: 10px;
  color: #999;
  cursor: pointer;
  display: none; /* Inizialmente nascosta */
}

/* Stile dell'icona "clear" quando è visibile */
.search .clear-icon.visible {
  display: block;
}


.search input {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
  font-size: 16px;
}

.search button {
  padding: 8px 12px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.search button:hover {
  background-color: #555;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  animation: fadeIn 1s ease;
}

.card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #555;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  animation: fadeInUp 1s ease;
}
