<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../nav_footer.css">
    <link rel="stylesheet" type="text/css" href="chi_siamo.css">

    <title>Servizio</title>
</head>

<body>
    <header class="navbar">
        <div class="navbar-logo">
            <a href="../../index.php">
                <img src="../../immagini/img_sito/logo_progetto.png" alt="Logo">
            </a>
        </div>
        <div class="navbar-links">
            <ul>
                <li><a href="../servizio/servizio.html">SERVIZIO</a></li>
                <li><a href="#">CHI SIAMO</a></li>
            </ul>
        </div>
        <div class="navbar-user" style="visibility: hidden">
            <div class="dropdown">
                <button class="dropdown-btn"><img src="../../immagini/img_sito/user_icon.png"
                        alt="User Icon"></button>
                <div class="dropdown-wrapper">
                    <div class="dropdown-content">
                        <a href="#">Profilo</a>
                        <a href="../../controller/log-out.php">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="chi-siamo">
        <div class="contenitore">
            <div>
                <div>
                    <div class="about-sub-heading">
                    </div>
                    <div class="testo">
                        <h2>ITS-STG23</h2>
                        <p>Il progetto ITS-STG23 è nato agli inizi del 2023 dalle menti di quattro giovani
                            ragazzi di Torino e dintorni, Alberto Alineri, Paolo Carena Matteo Marziano e Alessandro De
                            Fano. <b>La nostra piattaforma mette in contatto</b> delle <b>aziende</b> acquirenti interessate alla
                            compravendita di prodotti di seconda mano <b>e clienti</b> interessati alla vendita.</p>
                        <p><b>Dai prodotti nuovi di zecca ai tesori vintage.</b></p>
                        <p>Nei tempi del crescente automatismo, la nostra missione è <b>mantenere</b> alla base del commercio
                            <b>il contatto umano</b>. Aiutiamo la nostra community di venditori e acquirenti a trasformare le
                            loro esigenze in solide realtà.</p>
                        <p>Come azienda, <b>ci impegniamo per rispettare i nostri principi guida</b> e aiutare a diffondere le
                            idee di sostenibilità e responsabilità, i cui effetti possono superare di gran lunga il
                            nostro operato.
                            Il progetto ITS-STG23 è nato agli inizi del 2023 dalle menti di quattro
                            giovani ragazzi di Torino e dintorni, Alineri Alberto, Carena Paolo, De Fano Alessandro e Marziano Matteo. La nostra piattaforma mette in contatto delle aziende acquirenti
                            interessate alla compravendita di prodotti di seconda mano e clienti interessati alla
                            vendita.</p>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <script type="text/javascript">
            copyright = new Date();
            update = copyright.getFullYear();
            document.write("Copyright © 2023-" + update + " - Alineri Alberto - Carena Paolo - De Fano Alessandro - Marziano Matteo - All rights reserved.");
        </script>
    </footer>

</body>

</html>